ENABLE_REAL_CALLS=false
AUTHORIZED_DESTINATION=+18054398008

TELEPHONY_ACCOUNT_ID=
TELEPHONY_AUTH_TOKEN=
TELEPHONY_FROM_NUMBER=

LLM_API_KEY=
STT_API_KEY=
TTS_API_KEY=

PUBLIC_BASE_URL=
MAX_CALL_DURATION_SECONDS=180
MAX_CALLS_PER_RUN=1
MONTHLY_COST_LIMIT_USD=20

